*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    min-height: 100vh;
    display:0;
    justify-content: center;
    align-items: center;
    background: #efefef;
    line-height: 1.5;
    background-image: url("Background1.jpg");
    background-repeat: no-repeat; /*This is to avoid the image getting tiled*/
    background-attachment: fixed;  /*Here fixed means that image will not move when scrolled It will stay the same or Content will run on top of the image*/
    background-size: cover;
}
a{
    text-decoration: none;
}

.container{
    width:1100px;
    max-width:100%;
    margin:0 auto;
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    flex:1 1 21rem;
    display: flex;
    align-items: center;
    flex-wrap: 0;
    flex-direction: column;
    margin:10px 20px;
    background: #efefef;
    box-shadow: 0 0 15px rgba(0, 0, 0, 4);
    padding:10px 20px;
}
.card img{
    max-width: 220px;
    
}

.card h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin:10px 0;
}

.card p{
    margin-bottom: 10px;

}
.card .btngrp{  
    flex-direction: 0;
}

.card .btn{  
    display:flex;
    background: green;
    color: #fff;
    text-align: center;
    color:#fff;
    padding:10px 20px;
    border-radius: 5px;
}